{{!-- <li class="border"> --}}
    <tr class="border">
        <td>{{burger_name}}
        {{#unless devoured}}
        <button class="eat-burger" data-id="{{id}}" data-name="{{burger_name}}">Devour It</button>
        {{/unless}}
        </td>
    </tr>
    {{!-- </li> --}}
